    h1 { 
    
        background-color: black;
    }

    a {
        color:red
    }

    p{

        color:black
    }
    .vermelho{
        color:red;
    } 

    p{
        font-size: 18px;
    }

    i{
        color:yellow
    }